<!--<div class="p-4">-->
<!--  <div class="flex items-center mb-4 gap-2">-->
<!--    <div class="w-24 font-bold">Month</div>-->
<!--    <div class="attendance-grid">-->
<!--      @for (day of days; track day) {-->
<!--        <div class="date-header">{{day}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->

<!--  @for (month of months; track month.name) {-->
<!--    <div class="mb-8">-->
<!--      <h2 class="text-xl font-bold mb-4">{{month.name}}</h2>-->
<!--      @for (subject of subjects; track subject) {-->
<!--        <div class="flex items-center mb-2">-->
<!--          <div class="w-24">{{subject}}</div>-->
<!--          <div class="attendance-grid">-->
<!--            @for (day of month.days; track day.date) {-->
<!--              <div-->
<!--                class="date-cell"-->
<!--                [class.present]="getAttendance(month.name, subject, day.date)"-->
<!--                (click)="toggleAttendance(month.name, subject, day.date)">-->
<!--              </div>-->
<!--            }-->
<!--          </div>-->
<!--        </div>-->
<!--      }-->
<!--    </div>-->
<!--  }-->
<!--</div>-->
