<h2>Register</h2>
<form [formGroup]='form' (ngSubmit)='onSubmit()'>
  <div>
    <label for='username'>Username</label>
    <input id='username' type='text' formControlName='username' />
  </div>
  <div>
    <label for='email'>Email</label>
    <input id='email' type='email' formControlName='email' />
  </div>
  <br>
  <div>
    <label for='password'>Password</label>&nbsp;
    <input id='password' type='password' formControlName='password'/>
  </div>
  <br>
  <button type='submit'>Sign Up</button>
</form>
