<div class="header pb-2">
  <h1>DASHBOARD PAGE</h1>
  <button mat-raised-button [matMenuTriggerFor]="widgetMenu">
    <mat-icon>add_circle</mat-icon>
    Add Widget
  </button>

  <mat-menu #widgetMenu="matMenu">

      @for ( widget of store.widgetsToAdd(); track $index){
        <button mat-menu-item (click)="store.addWidget(widget)">
          {{ widget.label }}
        </button>
      } @empty {
        <button mat-menu-item>No Widgets to ADD</button>
      }

  </mat-menu>
</div>


<div #dashboard class="dashboard-widget">
  @for (w of store.addedWidgets(); track w.id){
    <app-widget [data]="w"/>
  }
</div>
