<div *ngIf='authService.currentUserSig() === null'>
  <a routerLink='/login'>Login</a>
  <br>
  <a routerLink='/register'>Register</a>
</div>
<div *ngIf='authService.currentUserSig()'>
  {{ authService.currentUserSig()?.username }}
  <span (click)='logout()'>Logout</span>
</div>
<!--<main class="main">-->
<!--  <div class="content">-->
<!--    <div class="left-side">-->
<!--      <h1>Hello, {{ title }}</h1>-->
<!--      <p>Congratulations! Your app is running. 🎉</p>-->
<!--      <a routerLink='/login'>Login</a>-->
<!--      <br>-->
<!--      <a routerLink='/register'>Register</a>-->
<!--      <div>-->
<!--        <span (click)='logout()'>Logout</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="divider" role="separator" aria-label="Divider"></div>-->
<!--    <div class="right-side">-->
<!--      <div class="pill-group">-->
<!--        Homepage-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
<router-outlet/>
