

<button mat-icon-button class="close-button" (click)="showOptions.set(false)">
  <mat-icon>close</mat-icon>
</button>

<div>
  Width

  <mat-button-toggle-group
    hideSingleSelectionIndicator="true"
    [value]="data().columns ?? 1"
    (change)="store.updateWidget(data().id, {columns: +$event.value})"
  >
    <mat-button-toggle [value]="1"> 1 </mat-button-toggle>
    <mat-button-toggle [value]="2"> 2 </mat-button-toggle>
    <mat-button-toggle [value]="3"> 3 </mat-button-toggle>
    <mat-button-toggle [value]="4"> 4 </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div>
  Height

  <mat-button-toggle-group
    hideSingleSelectionIndicator="true"
    [value]="data().rows ?? 1"
    (change)="store.updateWidget(data().id, {rows: +$event.value})"
  >
    <mat-button-toggle [value]="1"> 1 </mat-button-toggle>
    <mat-button-toggle [value]="2"> 2 </mat-button-toggle>
    <mat-button-toggle [value]="3"> 3 </mat-button-toggle>
    <mat-button-toggle [value]="4"> 4 </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<button
  mat-icon-button
  class="move-forward-button"
  (click)="store.moveWidgetToRight(data().id)"
>
  <mat-icon>chevron_right</mat-icon>
</button>

<button
  mat-icon-button
  class="move-backward-button"
  (click)="store.moveWidgetToLeft(data().id)"
>
  <mat-icon>chevron_left</mat-icon>
</button>

<button
  mat-icon-button
  class="remove-widget-button"
  (click)="store.removeWidget(data().id)"
>
  <mat-icon>delete</mat-icon>
</button>

